* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

nav li {
    list-style: none;
    margin-right: 15px;
}

nav li:nth-child(2) {
    border-bottom: 2px solid rgb(80, 169, 210);
}

nav a {
    text-decoration: none;
    color: rgb(72, 72, 72);
    /*border-bottom: 2px solid rgb(80, 169, 210);*/
}

#parentdiv {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.rowdiv {
    display: flex;
}

.itemdiv {
    margin-right: 20px;
}

.itemdiv div:first-child {
    height: 120px;
    width: 240px;
    border-radius: 3px;
}

.itemlabel {
    margin-top: 10px;
    margin-bottom: 25px;
    position: relative;
}

button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(85, 175, 217, 0.688);
    padding: 5px;
    border-radius: 3px;
    border: none;
    outline: 1px solid black;
    z-index: 0;
}

button:hover {
    background-color: rgba(68, 148, 185, 0.634);
}

button:active {
    background-color: rgba(68, 148, 185, 0.837);
}

#cart {
    display: flex;
    background-color: rgba(56, 140, 178, 0.773);
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 20px;
}

#cart:hover {
    background-color: rgba(56, 139, 178, 0.936);
}

#cartcnt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    border-radius: 50%;
    background-color: rgb(225, 105, 105);
    width: 15px;
    height: 15px;
    font-size: 10px;
}

#cartitem-parent {
    background-color: rgb(255, 235, 205);
    width: 170px;
    padding: 7px;
    position: absolute;
    right: 11px;
    top: 59px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.cartitem {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-bottom: 15px;
}

.cartitem-color {
    width: 150px;
    height: 70px;
    border-radius: 3px;
}

.cartitem-label {
    display: flex;
    justify-content: space-between;
}

#total-label {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

#total-label p:first-child {
    font-size: 13px;
    color:rgb(89, 87, 87);
    font-weight: bold;
}

#total-label p:last-child {
    font-size: 13px;
    color:rgb(83, 82, 82);
    font-weight: bold;
}

pre {
    font-size: small;
    color:rgba(72, 72, 72, 0.767);
}

.colorname {
    font-size: 13px;
}

.price {
    color: rgb(72, 72, 72);
    font-size: 13px;
}

