* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

header {
    display: flex;
    padding: 1rem 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    flex-wrap: wrap;
}

.logo {
    font-size: 1.5rem;
}

input {
    width: 50vw;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    gap: 4rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

@media(max-width: 930px) {
   /*  header {
        flex-wrap: wrap;
        gap: 3rem;
    }

    input {
        order: 3;
        flex: 1;
    } */

    header {
        padding: 1rem 2rem;
    }

    nav ul {
        gap: 3rem;
    }
}

@media(max-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media(max-width: 620px) {
    nav ul {
        gap: 2rem;
    }
}

@media(max-width: 470px) {
    header {
        gap: 1rem;
    }

    input {
        order: 3;
        flex-grow: 1;
    }
}

@media(max-width: 300px) {
    html {
        font-size: 7px;
    }
}
