body {
    background-color: rgba(0, 0, 0, 0.11);
}

.card {
    border: 2px solid black;
    width: 500px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.card-header {
    border-bottom: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}

.card-body {
    padding: 10px;
}

button {
    font-size: medium;
    height: 30px;
    width: 85px;
    align-self: center;
}