* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

nav {
    background-color: rgb(36, 36, 36);
    padding: 1.5rem 1.5rem .5rem 0;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    background-color: aquamarine;
    padding: .7rem 1.5rem;
}

nav ul li::after {
    display: block;
    content: "";
    background-color: bisque;
    width: 0;
    height: .3rem;
    margin: .7rem auto 0 auto;
    transition: .5s;
}

nav ul li:hover::after{
    width: 100%;
}
