* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.container #btn {
    margin-top: 50px;
    background-color: cadetblue;
    width: 100px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.box {
    display: flex;
    justify-content: space-between;
}

#box1, #box2 {
    height: 33.33vw;
    width: 33.33vw;
}

#box1 {
    background-color: aquamarine;
    transition: 2s;
}

#box2 {
    background-color: bisque;
    transition: 2s;
}

.close {
    width: 50vw !important;
}
