* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 1rem;
    padding: 5px;
    /* transition: transform 1s; */
    border: 1px solid black;
    border-radius: 5px;
}

button {
    animation: test 1s;
}

@keyframes test {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-200px);
    }
}
