* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(137, 171, 201);
}

.line {
    opacity: 0;
}

.lines {
    background-color: gray;
    width: 2.5rem;
    height: 0.5rem;
    margin: 0.35rem;
}

nav {
    padding: 1rem 3rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 0.5rem 2rem;
}

nav ul li a:hover {
    background-color: aquamarine;
}

.active {
    display: block;
    position: absolute;
    top: 2.9rem;
    width: 100vw;
    text-align: center;
    background-color: rgb(137, 171, 201);
}

section div {
    margin-bottom: 5rem;
}

@media (max-width: 450px) {
    nav {
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    .line {
        opacity: 1;
    }
}